@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

/* NavBar */

nav {
  display: flex;
  padding: 1.5em;
  align-items: center;
  font-weight: 700;
  position: sticky;
}

.nav-header {
  margin-right: auto;
  font-size: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

nav li:last-child {
  margin-right: 0;
}

.nav-icon {
  height: 1.5em;
  margin-right: 0.3em;
}

/* Hero Component */

.hero-container {
  color: #fff;
  position: relative;
}

.hero-img {
  width: 100%;
}

.hero-date {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.hero-text {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.hero-text h1 {
  margin: 0.3em 0 0.3em 0;
}

.hero-text p {
  line-height: 1.25;
  letter-spacing: 0.05em;
}

/* .hero-text { */
/*   position: absolute; */
/*   bottom: 25%; */
/*   padding: 1em; */
/* } */

/* Blog Component */

.blog {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.blog-date {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-top: 1em;
}

.blog-title {
  color: #141414;
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.blog-body {
  letter-spacing: 0.02em;
  color: #505050;
}
